<div class="container align-items-center">
    <div class="banner py-5">
        <h1 class="text-center display-4 text-success fw-bold">Password Manager</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 align-self-center">
            <form class="border rounded shadow p-3">
                <h2 class="display-6 text-primary fw-bold text-center mb-4">Login</h2>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control rounded-pill" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="abc@mail.com">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control rounded-pill" id="exampleInputPassword1" placeholder="********">
                </div>
                <button type="submit" class="btn btn-primary rounded-pill">Submit</button>
              </form>
        </div>
    </div>
    <div class="fixed-bottom text-center bg-secondary pt-3">
        <p class="lead text-white">2023-{{currentYear}}, Made with <span class="text-danger">&hearts;</span> by <a class="text-warning" href="https://vishalpstuffvish.web.app" target="_blank">Vishal Pandey</a></p>
    </div>
</div>
