<app-navbar></app-navbar>

<div class="container pt-5">
    <div class="text-center">
        <p>Site Name: <span class="display-5 fw-bold text-primary">{{siteName}}</span>
        <p>Site URL: <a [href]="siteUrl" target="_blank" class="lead text-success">{{siteUrl}}</a>
    </div>

    <!-- ====== Alert Message -->

    <div *ngIf="isSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
        {{alertMessage}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- ===== Add Password Form ====== -->

    <div class="form py-3">
        <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
            <div class="row justify-content-center ">
                <div class="col-lg-6 border shadow rounded py-4 glass">
                    <h2 class="text-center text-success">{{formState}} Password</h2>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Username</label>
                        <input type="text" name="username"  class="form-control rounded-pill" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="username" >
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email id</label>
                        <input type="email" name="email" class="form-control rounded-pill" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="email">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control rounded-pill" id="exampleInputPassword1" [(ngModel)]="password">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary rounded-pill w-100">{{formState}} Password</button>    
                        </div>                         
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr class="table-dark text-center">
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let password of passwordList; let i = index">
                  <td class="table-primary">{{password.username}}</td>
                  <td>{{password.email}}</td>
                  <td class="table-primary" >{{password.password}}
                    <button class="btn btn-secondary rounded-pill" (click)="onDecrypt(password.password, i)">
                        {{buttonName}}
                    </button>
                  </td>
                  <td class="d-flex justify-content-evenly">
                    <button class="btn btn-primary rounded-pill" (click)="onEdit(password.username, password.email, password.password, password.id)">
                        Edit
                    </button>
                    <button class="btn btn-outline-danger rounded-pill" (click)="onDelete(password.id)" >Delete</button>
                  </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>