<section class="py-5">
    <div class="container">
        <div class="top">
            <h2 class="display-6 fw-bold">Secure Password Manager</h2>
            <p class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit inventore porro repellendus eos officia voluptas magni voluptatibus ut tenetur aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, voluptatem.</p>
            <button class="btn btn-outline-primary btn-lg rounded-pill">Add New Website</button>
        </div>
        <div class="form p-5">
            <form>
                <div class="row justify-content-center ">
                    <div class="col-lg-6 border rounded p-5 glass">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                          </div>
                          <button type="submit" class="btn btn-primary">Add Site</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>